<style type="text/css">

/**********************
GENERAL
**********************/

#header {
    text-align:center;
}

#header h1 {
    padding:19px 5px 5px 23px;
    margin:0;
    float:left;
    font-size:1.6em;
    font-weight: 300;
    max-width:100%;
}

h2 {
    padding: 5px 0 5px 15px;
    margin:0;
    text-align: center;
}

p {
    margin:0;
}

body {
    overflow: hidden;
}

/**********************
NAVIGATION
**********************/

nav li {
    display:inline-block;
    padding: 5px 5px;
    height:100%;
    margin:0;
}

nav a {
    text-decoration: none;
    text-transform:uppercase;
    font-weight:800;
    height:100%;
    width:100%;
    padding:10px 5px;
    margin:0;
    padding:10px 5px;
    font-size: 1.5em;
}


@media screen and (max-width: 576px) {
    nav a {
        font-size:0.9em;
    }
}
nav ul {
    padding: 5px 0 5px 10px;
    margin:0;
    margin-top:-5px;
    width:100%;
}

/**********************
SOCIAL BUTTONS
**********************/

#social-buttons {
    float:right;
}

#social-buttons a {
    text-decoration: none;
}

/**********************
CONTENT SECTION
**********************/

#content {
    margin:9px 5px 5px 15px;
    text-align:center;
}


/**********************
COLORS
**********************/ 

h1, h2 {
    color:#8d8f8f;
}

nav a {
    color:white;
}

nav a:hover, nav a.selected {
    background-color:#5B5C5C;
}

nav ul {
    background-color:#A9ABAB;
    text-align: center;
}

#header {
    background-color:purple;
}

/**********************
IMAGES
**********************/

.header-image {
    max-width:100%;
    margin:0;
    padding:0;
}

/**********************
FOOTER
**********************/

footer {
    text-align:center;
    font-size: 0.6em;
    margin: 60px 0 0 0;
}

</style>